@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.modale-conteneur{
    /* min-width: 50vh; */
    width: 60%;
    min-height: 50vh;
    background-color: #ffffff;
    margin-bottom: 5rem;
    margin-left: 3rem;
    margin-top: 2rem;
    font-weight: 'Montserrat';
}
.sous-modale{
    margin-top: 3rem;
    margin-left: 3rem;
}
.titre-modale{
    text-transform: uppercase;
    width: 100% ;
    color: #ffffff;
    font-weight: 800;
    font-size: 2rem;
    background-color: #165b04;
    padding-left: 1rem;
}
.modale-image img{
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
}
.modale-texte{
    margin-left: 3rem;
}
.modale-texte h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7rem;
    
}
.modale-texte h2{
    background-color: #CFDE1D;
    color: #ffffff;
    width: 7.5rem;
    height: 1.7rem;
    font-size: 1.3rem;
    
}
.modale-texte p{
    color: #165b04;
    margin: 2px;
    font-size: 1.4rem;
    font-weight: 500;

}
.modale-texte span{
    color: #165b04;
    font-weight: bold;
    font-size: 1.5rem;
}
.modale-texte button{
    background-color: #165b04;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 18rem;
}
