
.conteneur2-abonnement{
   align-items: center;
   justify-content: center;
   padding-left: 22rem;
   padding-right: 20rem;


}

.p1{
    padding-left: 1.5rem;
    width: 55rem;
}
.abonnement-titre{
    text-transform: uppercase;
    width: 42rem;
    margin-left: 32rem;
    text-align: center;
    align-items: center;
    font-size: 2.5rem;
    margin-top: 3rem;
}
.abonnement-tarif{
    font-style: normal;
    font-weight: 350;
}
.prix{
    font-size: 1.5rem;
}
.bloc-1, .bloc-2, .bloc-3, .bloc-4, .bloc-5, .bloc-6{
    width: 15rem;
}