@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.abonnement-conteneur{
    font-family: 'Montserrat';
}
.abonnement-conteneur hr{
    width: 100%;
    color: #165b04;
    background-color: #165b04;border: 2px solid #165b04;
    height: 0.3rem;
    margin-top: 0rem;
}

.conteneur2-abonnement{
   align-items: center;
   justify-content: center;
   padding-left: 22rem;
   padding-right: 20rem;
}
.p1{
    padding-left: 1.5rem;
    width: 55rem;
}
.abonnement-titre{
    text-transform: uppercase;
    width: 42rem;
    margin-left: 32rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
}
.blocs-service h4{
    font-weight: bold;
}
.blocs-service ul {
    font-size: 1.1rem;
}
.abonnement-tarif{
    font-style: normal;
    font-weight: 350;
}
.prix{
    font-size: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.bloc-1, .bloc-2, .bloc-3, .bloc-4, .bloc-5, .bloc-6{
    width: 15rem;
}