
.abonnement-titre{
    text-transform: uppercase;
    width: 42rem;
    margin-left: 32rem;
    text-align: center;
    align-items: center;
    font-size: 2.5rem;
    margin-top: 3rem;
}
.abonnement-tarif{
    font-style: normal;
    font-weight: 350;
}

.bloc-image{
    width: 40rem;
    height: 100vh;
    margin-top: -0.5rem;
    margin-left: -13rem;
}
.bloc-image img{
    width: 40rem;
   
}