.recy-conteneur{
    /* min-width: 50vh; */
    width: 45%;
    min-height: 50vh;
    background-color: #ffffff;
    margin-bottom: 5rem;
    margin-left: 3rem;
    margin-top: 2rem;
}
.sous-modale{
    margin-top: 3rem;
    margin-left: 3rem;
}
.titre-recy{
    text-transform: uppercase;
    width: 100% ;
    color: #ffffff;
    background-color: #165b04;
    padding-left: 1rem;
}
.recy-image img{
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    
}
.recy-texte{
    margin-left: 3rem;
}
.recy-texte h1{
    text-transform: uppercase;
    
}
.recy-texte h2{
    background-color: #CFDE1D;
    color: #ffffff;
    width: 7rem;
    height: 1.7rem;
    font-size: 1.3rem;
    
}
.recy-texte p{
    color: #165b04;
    margin: 2px;
    font-size: 1.4rem;

}
.recy-texte span{
    color: #165b04;
    font-weight: bold;
    font-size: 1.5rem;
}
.recy-button{
    background-color: #1c8200;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 19rem;
}
.echange{
    margin-top: 1.5rem;
}
.echange p{
    float: left;
    margin-left: -15rem;
}
.bouton-radios{
    margin-left: -20rem;
    margin-top: 3rem;
    
    
}
.b_radio1{
    margin-right: 1.5rem;
    
}
.b_radio1, .b_radio2{
   
    text-transform: uppercase;
    color: #1c8200;
}
label{
    margin-left: 0.5rem;
}
.pied-modaleRecy{
    height: 2rem;
    width: 100%;
    background-color: #165b04;
}


