@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.body-1 {
    display: inline-block;
    width: 100%;
    padding-left: 162px;
    padding-top: 3rem;
    /**/
    /*margin-top: 30px;*/
    /*background: #FFFFFF 0% 0% no-repeat padding-box;*/
    background: #F6F6F6;
    opacity: 1;
  }
  .body-2 {
    /* margin-top: 3rem; */
    margin-left: 20rem;
    margin-right: 25rem;
    width: 100%;
  }
   .body-3 {
    margin-top: 3rem;
    margin-left: 20rem;
    margin-right: 25rem;
    width: 100%;
  }
  .article-1 h1{
    font-size: 36px;
    font-weight: bold;
    /* font-style: normal; */
    font-family: 'Montserrat';

  }
  
   h1 {
    color: #165b04;
   
  }
  h3 {
    color: #1C8200;
  }
  .article-1 {
    padding-top: -10rem;
    margin-left: 10.062rem;
    margin-bottom: 5rem;
    margin-right: 5.31rem;
  }
  
  .article-2 {
    width: 37rem;
    /* margin-left: 20px; */
    padding-top: 5.5rem;
    /* padding-right: 0.5rem; */
  }
  
  .article-3 {
    /* margin-left: 20px; */
    margin-top: 1rem;
    /* padding-left: 0.5rem; */
    width: 37rem;
  }
  .article-2 hr{
    float: left;
    border: 1px solid #1C8200;
    background-color: #1C8200;
    width: 37rem;
  }
  .article-3 hr {
    float: right;
    border: 1px solid #1C8200;
    background-color: #1C8200;
    width: 36.5rem;
  }
  .article-1 p {
    font-family: 'Montserrat';
    margin-left: 1rem;
    width: 28.5rem;
  }
  .article-2 p, .article-3 p{
    /* width: 25.5em; */
    font-family: 'Montserrat';
    margin-left: 1.5rem;
    margin-bottom: 5px;
  }
  
.article-1, .aside-1 {
    height: 30rem;
    padding-top: 5rem;
    display: inline-block;
  }
  .article-2, .aside-2 {
    display: inline-block;
    
  }
  
  .article-3, .aside-3 {
    display: inline-block;
  }
  .article-2 h1, .article-3 h1 {
    text-transform: uppercase;
    margin-left: 21px;
    font-size: 2rem;
    font-family: 'Montserrat';
    font-weight: 700;
    width: 38.5rem;
    /* color: #1C8200; */
  }
  .article-2 h3, .article-3 h3 {
    margin-bottom: 0px;
    font-size: 20px;
    padding-left: 8px;
    font-family: 'Montserrat';
  }

  .aside-1 {
    width: 17rem;
    height: 17rem; 
  }
  .aside-1 img {
    width: 33rem;
    margin-left: 10px;
    margin-bottom: 14rem;
    height: 30rem;
    opacity: 1;
  }
  .aside-2 img {
    width: 36rem;
    border: 1px #1C8200 solid;
    border-top-right-radius: 52px;
    margin-left: 10px;
    margin-top: -14.5rem ;
    border-spacing: 10px;
    height: 20rem;
    border: none;
    opacity: 1;
  }
  .aside-3 img {
    width: 36rem;
    border: 1px #1C8200 solid;
    border-bottom-left-radius: 52px;
    margin-left: 10px;
    margin-top: -15.5rem ;
    border-spacing: 10px;
    height: 19rem;
    border: none;
    
    opacity: 1;
  }
  
  .button-2, .button-3 {
    background-color: #1c8200;
    color: #FFFFFF;
    border-radius: 5px;
    /*top: 62.8rem;*/
    font-family: 'Montserrat';
    font-weight: 500;
    margin-top: 2rem;
    margin-left: 1.5rem;
    left: 87.25rem;
    width: 7rem;
    height: 2rem;
    opacity: 1;
    border: none;
  }
  .button-1 {
    background-color: #1C8200;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-left: 1rem;
    padding: 7px 10px 7px 8px;
}