@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body-5{
    background-color: #F6F6F6;
    /* height: 35rem; */
    height: 20rem;
    padding-left: 7rem;
    
  
  }
  .body-5 h1{
    width: 55rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 17rem;
    margin-right: 5rem;
    font-family: 'Montserrat';
    font-weight: 900;
  }
  .body-5 h2{
    text-transform: uppercase;
    text-align: center;
    margin-left: -10rem;
    color: #165b04;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 900;
    
  }
  .nb-commune{
    color: #cfde1d;
  }
  .communes{
    width: 80rem;
    
    margin-left: 15rem;
    margin-right: 30rem;
    margin-bottom: 5rem;
  }
  .commune-1{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 22px;
    border: none;
    width: 11rem;
    height: 3.5rem;
    margin-right: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #165b04;
    border-left: 10px solid #165b04;  
  }
  .partenariat{
    background-color: #FFFFFF;
    width: 60rem;
    height: 12rem;
    margin-left: 15rem;
    margin-right: 12rem;
    
  }
  