@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body-4{
  margin-top: 3rem;
  padding-left: 7rem;
  height: 63rem;
  background-color:  #2C3A29;
}
.body-4 p{
    color: white;
    width: 20rem;
    font-family: 'Montserrat';
    color: #FFFFFF;
  }
  .body-4 .chiffre{
    font: normal normal bold 46px/51px 'Montserrat';
    letter-spacing: 0px;
    color: #E8F733;
    border: 1px  #E8F733 solid;
    border-radius: 52px/52px;
    box-shadow: 0px 0px 0px #E8F733 inset;
    margin-bottom: 0px;
    width: 55px;
    text-align: center;
  }
  .body-4 h3{
    color: #E8F733;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Montserrat';
    font-style: italic;
    text-align: center;
    padding: 2rem 0rem 0rem 0rem;
    font-size: 2rem;
  
  }
 
  .body-4 h1{
    color: #E8F733;
    text-transform: uppercase;
    width: 17rem;
    font-weight: 700;
    font-family: 'Montserrat';
    margin-top: 1rem;
    font-style: normal;
    font-size: 1.2rem;
  } 
.article-etape-1, .aside-etape-1{
    display: inline-block;
  }
  .article-etape-2, .aside-etape-2{
    display: inline-block;
  }
  .article-etape-3, .aside-etape-3{
    display: inline-block;
  }
  .etape-1, .etape-2, .etape-3{
    margin-left: 25rem;
  }

  .article-etape-1{
    margin-top: 2rem;
  }
  .article-etape-2{
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .article-etape-3{
    margin-top: 2rem;
  }
  .aside-etape-1 img, .aside-etape-3 img {
    margin-top: -10rem;
    margin-left: 27px;
  }
  .aside-etape-2 img{
    margin-top: -10rem;
  }
  