footer{
    background-color: #1c8200;
    color: #FFFFFF;
    height: 11rem;
    /* margin-top: -1rem; */
    
  }
  footer .p1{
    color: #FFFFFF;
    margin-left: 1.8rem;
    padding-top: 1rem;
    font-family: 'Montserrat';
  }
  footer .p2{
    float: right;
    padding-right: 4rem;
    margin-top: 1rem;
    font-family: 'Montserrat';
  }
  .texte{
    display: inline-flex;
    font-family: 'Montserrat';
    
  }
  .para-1{
    width: 17rem;
    margin-right: 22rem;
    padding-top: -11px;
    margin-left: 1.8rem;
    color: #fbfbfb;
    font-size: 13px;
  }
  .para-2{
    width: 8rem;
    margin-top: 2rem;
    justify-content: center;
    font-size: 15px;
  }
  .images{
    width: 30px;
    display: inline-flex;
  
    float: right;
    padding-left: 15.3rem;
    /* padding-right: 0px; */
    margin-top: 3rem;
    
  }
  
  .images img{
    width: 30px;
    border-radius: 52px/50px;
    margin: 7px;
  }
  .numero{
    font-family: 'Montserrat';
    margin-left: 1.8rem;
    margin-top: 0rem;
  }
  
  